
@{
    ViewBag.Title = "Diets";
}
<div class="jumbotron">
    <h2>Diets</h2>
<p>Here you can find different kind of diets, read something about it, open the link and spread your knowledge</p>
    </div>

<div>
  <dl>
      <dt>Diets for vegans</dt>
      <dd>STH</dd>
      <dd>STH</dd>

      <dt>Diets for sportsmen</dt>
      <dd>hfsiedfhvaoeisdz</dd>
      <dd>aehfiosduhgsoei</dd>
      <dd>sjhfbgawefhdialesd</dd>
  </dl>  
    
    
    
</div>>

