@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Diet Planning</h1>
    <p class="lead">This app has a several section about diet planning and organising fit life. It should help you to plan your excercises, spread your knowledge about allergens, different kind of diets, calories. But the main functionality of this app is to create yourown weekly diet plan with the recipes.
    You enjoy and have fun :) </p>
    
</div>

